@page
@model WebApplication1.Pages.Shared.EkleModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head content goes here -->
    <style>

        .ekle {
            font-weight: bold;
            font-size: 80%;
            color: black;
        }

    </style>

</head>

<body>

    <a href="#"><i class="fas fa-note"></i><span class="ekle"> Ekle</span></a>

</body>
</html>
